@model DriveDrop.Web.ViewModels.HomeQuote

@{
    ViewData["Title"] = "Home Page";
}
 

<div class="container">
    <div class="jumbotron"  style="background-image: url('../../../../images/slider_img.jpg');  height: 600px;    background-repeat: no-repeat;    background-size: contain; padding: 2rem 1rem;    margin-bottom: 2rem;    border-radius: 0.3rem;">
        <img src="~/images/logo.png" />

       
    </div>
    <div class="row">
        
            <p class="text-center"><h3> Estimated</h3></p>
               
    </div>
    <form>
        <div class="row">
            <div class="col-md-3">
                <div class="form-horizontal">
                    <div class="form-group">

                        <div class="col-md-12">
                            <input id="start" class="form-control autocomplete" placeholder="From Seattle, WA" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-horizontal">


                    <div class="form-group">

                        <div class="col-md-12">
                            <input id="end" class="form-control" placeholder="From Tacoma, WA" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.PackageSizeId, Model.PackageSizeList, new { @class = "form-control" })
                            <span asp-validation-for="TransportTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">

                            <button type="button" id="quote" class="btn btn-info">submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">

        <p class="text-center">...</p>

    </div>

                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-default" href="admin/index">
                            <h2>Super administrator</h2>
                            <p>
                                Impersonate an admin user .
                            </p>
                            Test &raquo;
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default" href="/sender/result/2">
                            <h2>Sender dashboard</h2>
                            <p>impersonate a sender user</p>
                            Test &raquo;
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-default" href="/Driver/result/9">
                            <h2>Driver dashboard</h2>
                            <p>Impersonate a driver user.</p>
                            Test &raquo;
                        </a>
                    </div>
                </div>
            </div>




<script>

    $(".autocomplete").autocomplete({
        source: function (request, response) {

            var searchText = $("#start").val();
             
            $.ajax({
                url: '@Url.Action("SearchCity", "Home")',
                type: 'POST', 
                date: { search: searchText},
                success: function (data) {

                    response($.map(data, function (item) {
                        return { label: item.Text, value: item.Text };
                    }))
                 }

            });

         },
        minLength: 3

  @*source: function(request, response) {
    $.ajax({
      url: '@Url.Content("~/Employee/SearchEmployee")/',
      type: 'POST',
      contentType: 'application/json',
      dataType: "json",
      data: JSON.stringify({
          employerId: 1,
          searchStr: me.val()
      }),
      success: function(data) {
        if (data.success) {

          response($.map(data.data, function(item) {

            return {
              label: "(" + item.EmployeeNumber + ") " +
                           item.FirstName + " " +
                           item.MothersLast + ", " +
                           item.FathersLast,
              employeeId: item.EmployeeId
            }
          }));
        }
      }
    });
  },
  minLength: 3*@
});
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}