@model ChangePasswordViewModel
@using DriveDrop.Bl.Services
@inject StatisticsService StatsService
@{

    var isMobile = @StatsService.Mobile(); //await Component.InvokeAsync("MobileLayout");
    var top = "-10px";
    if (isMobile == true)
    {
        top = "-105px";
    }


    ViewData["Title"] = "Change password";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);

    var addresses = Model;
    var customerTypeId = (int)ViewBag.CustomerType;

    var option = new DriveDrop.Bl.ViewModels.TwoParameterModel { Id = (int)@ViewBag.Id, Option = "ChangePassword" };
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)

<section class="sender-desh">
    <div class="container">
        <div class="main-cont">
            <div class="row">
                @if (customerTypeId == 1)
            {
                @await Html.PartialAsync("AdminNavigation", option)
        }
        else if (customerTypeId == 2)
        {
            @await Html.PartialAsync("CustomerNavigation", option)
    }
    else if (customerTypeId == 3)
    {
        @await Html.PartialAsync("DriverNavigation", option)
}

                <div id="content" class="col-sm-9" style="top: @top;">
                    <div id="gig-information" class="sender-form">
                        <h3 class="blue-head active">Change Password</h3>
                        <div class="form-body">
                            <div class="profile-form">
                                <div class="row">
                                    <div class="page account-page customer-info-page">

                                        <div class="page-body">

                                            <form method="post">
                                                <div asp-validation-summary="All" class="text-danger"></div>
                                                <div class="form-group">
                                                    <label asp-for="OldPassword"></label>
                                                    <input asp-for="OldPassword" class="form-control" />
                                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="NewPassword"></label>
                                                    <input asp-for="NewPassword" class="form-control" />
                                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="ConfirmPassword"></label>
                                                    <input asp-for="ConfirmPassword" class="form-control" />
                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                </div>
                                                <button type="submit" class="btn btn-default">Update password</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
          @section Scripts {
                @await Html.PartialAsync("_ValidationScriptsPartial")
            }
