@{
    ViewData["Title"] = "Access Denied";
}

 




<section class="login-page registration verification pt-220">
    <div class="container">
        <div class="headline width-40">
            <h3>Access Denied</h3>
            <P>  You do not have access to this resource.</P>
        </div>


    </div>
</section> 
