@model Identity.Api.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">

        
    <section class="login-page pt-220">
        <div class="container">
            <div class="headline width-40 mb-50 ">
                <h3>Forgot your password?</h3>
                <P>Please enter your email address below. You will receive a link to reset your password.</P>

            </div>
            <div class="login-form">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-field ">

                    @Html.TextBoxFor(m => m.Email, new { @class = "email", autofocus = "autofocus", placeholder = "Email Address" })
                  
                </div>
               
                <button type="submit" class="login-bttn">Submit</button>
                 

            </div>

        </div>
    </section>

     
</form>
 
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
