@{
    ViewData["Title"] = "Forgot Password Confirmation";
}


<div class="page password-recovery-page">
    <div class="page-title">
        <h1>Forgot your password</h1>
    </div>
    <div class="page-body">

        <div class="fieldset">
            <div class="form-fields">
                <div class="inputs">
                    <label>Please check your email to reset your password.</label> 
                </div>
            </div>
        </div>
    </div>
</div>
