@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<section class="login-page pt-220">
    <div class="container">
        <div class="headline width-40 mb-50 ">
            <h3>Forgot your password</h3>
            <P>Please check your email to reset your password.</P>

        </div>
      

    </div>
</section>
 
