@model IEnumerable<DriveDrop.Web.ViewModels.RateModel>

@{
    ViewData["Title"] = "Index";

    var option = new DriveDrop.Web.ViewModels.TwoParameterModel { Id = 1, Option = "rates" };
}

<section class="sender-desh">
    <div class="container">
        <div class="main-cont">
            <div class="row">

                @await Html.PartialAsync("AdminNavigation", option)

                <div id="content" class="col-sm-9">
                    <div id="gig-information" class="sender-form">
                        <h3 class="blue-head active">Rates</h3>
                        <div class="form-body">
                            <div class="profile-form">
                                <div class="side-2">
                                    <div class="page-body">

                                        <div class="address-list">
                                            @foreach (var item in Model)
                                            {

                                                <ol class="opc">
                                                    <li class="tab-section allow active">
                                                        <div class="step-title">
                                                            <h4 class="title">@item.PackageSize.Name</h4>
                                                            <a asp-action="Edit" asp-route-id="@item.Id"><h4 class="title">Details</h4></a>
                                                            <a asp-action="Edit" asp-route-id="@item.Id"><h4 class="title">Edit</h4></a>

                                                        </div>
                                                    </li>
                                                </ol>
                                            }
                                        </div>


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
 