@using DriveDrop.Web.ViewModels;
@model  DriveDrop.Web.ViewModels.UserStatusModel 
    @if (!string.IsNullOrWhiteSpace(Model.Status))
                            {
        <p class="alert alert-info">
            <label>   User Status: <strong>@Model.Status</strong> </label>

       @if (!string.IsNullOrWhiteSpace(Model.Impersonated))
                            {
            <label>
                Impersonated user: <strong>@Model.Impersonated</strong>
            </label>
                @Html.ActionLink("end impersonated", "endimpersonated", "admin")
            }

</p>
                        
}

