@model DriveDrop.Api.ViewModels.Paypal
@{
    ViewData["Title"] = "PostToPayPal";
}

<form id="frm" action="@(ViewBag.actionURL)">

    <input asp-for="cmd" hidden />
    <input asp-for="business" hidden />
    <input asp-for="no_shipping" hidden />
    <input asp-for="upload" hidden />
    <input asp-for="item_name" hidden />
    <input asp-for="amount" hidden />
    <input asp-for="quantity" hidden />
    <input asp-for="discount" hidden />
    <input asp-for="custom" hidden />
    <input asp-for="custom" hidden />
    <input asp-for="bn" hidden />
    <input asp-for="no_note" hidden />
    <input asp-for="currency_code" hidden />
    <input asp-for="invoice" hidden />
    <input asp-for="rm" hidden />
    <input asp-for="address_override" hidden />
    <input asp-for="first_name" hidden />
    <input asp-for="last_name" hidden />
    <input asp-for="address1" hidden />
    <input asp-for="address2" hidden />
    <input asp-for="city" hidden />
    <input asp-for="state" hidden />
    <input asp-for="country" hidden />
    <input asp-for="zip" hidden />
    <input asp-for="email" hidden />
    <input asp-for="returN" hidden />
    <input asp-for="cancel_return" hidden />
    <input asp-for="notify_url" hidden />

</form>

<div class="center-block bg-primary text-center" id="bar-notification">
    <h3>Redirecting to paypal...</h3>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            $(this.document).ready(function () {
                var frm = $("form");
                frm.submit();
            });
    </script>
}
