
<div class="jumbotron">

    <h1>Sender Dashboard</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Add new Driver</h2>
        <p>
            Impersonate an Admin user .
        </p>
        <p><a class="btn btn-default" href="/driver/NewDriver">Test &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test as DRIVER</h2>
        <p>impersonate a Driver user</p>
        <p><a class="btn btn-default" href="/driver/result/11">Test DRIVER 1 &raquo;</a></p>
        <p><a class="btn btn-default" href="/driver/result/12">Test DRIVER 2 &raquo;</a></p>
        <p><a class="btn btn-default" href="/driver/result/8">Test  DRIVER 3&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test as a driver</h2>
        <p>Impersonate a DRIVER user.</p>
        <p><a class="btn btn-default" href="/driver">Test &raquo;</a></p>
    </div>
</div>