@model String
@{
    ViewData["Title"] = "Results";
}


<div class="page home-page">
    <div class="page-title">
        <h1>Driver account have been created </h1>
    </div>

    <div class="page-body">


        <h3>Login email address : @Model</h3>
        <div class="fieldset">
        </div>
        <div class="fieldset">
            <p>
                Thank you for signup as driver for DriveDrop.
            </p>
            <p>
                Once you account has been approved, we will notify you by email.
            </p>
            @*<div class="buttons">
                <a href="/account/signin" class="button-1 save-customer-info-button">Login to your account</a>

            </div>*@
        </div>
    </div>
</div>
