@model DriveDrop.Web.ViewModels.DriverModel

@{
    ViewData["Title"] = "Create";
}
<section class="esh-catalog-filters">
    <div class="container">
        <h2>Add a new Driver</h2>
    </div>
</section>
<div class="container">
    <form method="post" asp-action="NewDriver" enctype="multipart/form-data">

        <div class="row">

            <div class="col-md-10">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            </div>
        </div>
        <div class="row">

            <div class="col-md-5">
                <h2>Driver Contact Info</h2>
                <hr />

                <div class="form-horizontal">


                    <div class="form-group">

                        <div class="col-md-12">
                            <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">

                        <div class="col-md-12">
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            <input asp-for="Phone" class="form-control" placeholder="Contact Phone" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            <input asp-for="Email" class="form-control" placeholder="Contact Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>




                </div>
            </div>

            <div class="col-md-5">
                <h2>Default Address</h2>
                <hr />
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryStreet" class="form-control" placeholder="Street" />
                            <span asp-validation-for="DeliveryStreet" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryCity" class="form-control" placeholder="City" />
                            <span asp-validation-for="DeliveryCity" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryZipCode" class="form-control" placeholder="Zip Code" />
                            <span asp-validation-for="DeliveryZipCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryPhone" class="form-control" placeholder="Delivery Phone" />
                            <span asp-validation-for="DeliveryPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryContact" class="form-control" placeholder="Delivery Contact person" />
                            <span asp-validation-for="DeliveryContact" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-md-10">
                <h2>Pick Info </h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="MaxPackage" class="form-control" placeholder="Max Package" />
                            <span asp-validation-for="MaxPackage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="PickupRadius" class="form-control" placeholder="PickupRadius" />
                            <span asp-validation-for="PickupRadius" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliverRadius" class="form-control" placeholder="DeliverRadius" />
                            <span asp-validation-for="DeliverRadius" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.TransportTypeId, Model.TransportTypeList, "-- Select transport type  --", new { @class = "form-control" })
                            <span asp-validation-for="TransportTypeId" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>





        <div class="row">

            <div class="col-md-10">


                <h2>Driver license picture </h2>
                <hr />
                <div class="form-horizontal">

                    <div class="form-group">
                        <label class="btn btn-primary" for="Files">
                            <input id="Files" type="file" name="Files" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
                            Click here to upload license picture
                        </label>
                        <span class='label label-info' id="upload-file-info"></span>
                    </div>
                </div>
            </div>
        </div>





        <div class="row">
            <div class="col-md-5">

                <div class="form-group">

                    <div class="form-horizontal">

                        <h2>
                            Payment Info
                        </h2>
                        <hr />

                        <div class="form-group">
                            <div class="col-md-12">
                                <input asp-for="CardHolderName" class="form-control" placeholder="Card Holder Name" />
                                <span asp-validation-for="CardHolderName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input asp-for="CardNumber" class="form-control" placeholder="Card Number" />
                                <span asp-validation-for="CardNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input asp-for="Expiration" class="form-control" placeholder="Expiration" />
                                <span asp-validation-for="Expiration" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <input asp-for="SecurityNumber" class="form-control" placeholder="Security Number" />
                                <span asp-validation-for="SecurityNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-5">
                <div class="form-horizontal">

                    <h2>
                        Authentication Info
                    </h2>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="UserEmail" class="form-control" placeholder="User Email" />
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="Password"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="ConfirmPassword"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
