@model DriveDrop.Web.ViewModels.DriverModel

@{
    ViewData["Title"] = "Create";
}
 

<section class="esh-catalog-filters">
    <div class="row">
        <h2> New driver information</h2>
    </div>
</section>
<div class="row">
    <form method="post" asp-action="NewDriver" enctype="multipart/form-data">

        <div class="row">

            <div class="col-md-10">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            </div>
        </div>
        <div class="row">

            <div class="col-md-5">
                <h3>Driver information</h3>
                <hr />

                <div class="form-horizontal">


                    <div class="form-group">

                        <div class="col-md-12">
                            <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">

                        <div class="col-md-12">
                            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            <input asp-for="PrimaryPhone" class="form-control phone-number" placeholder="Contact primary phone" />
                            <span asp-validation-for="PrimaryPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            <input asp-for="Phone" class="form-control phone-number" placeholder="cell phone" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-md-12">
                            <input asp-for="Email" class="form-control" placeholder="Contact Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>




                </div>
            </div>

            <div class="col-md-5">
                <h3>Default address</h3>
                <hr />
                <div class="form-horizontal">

                     

                        <div class="form-group">

                            <div class="col-md-12">
                                <input id="autocomplete" class="form-control" placeholder="Enter your address" />

                            </div>
                        </div>
                    



                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryStreet" class="form-control" placeholder="Street" />
                            <span asp-validation-for="DeliveryStreet" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryCity" class="form-control" placeholder="City" />
                            <span asp-validation-for="DeliveryCity" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryZipCode" class="form-control" placeholder="Zip Code" />
                            <span asp-validation-for="DeliveryZipCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryState" class="form-control" placeholder="State" />
                            <span asp-validation-for="DeliveryState" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryCountry" class="form-control" placeholder="Country" />
                            <span asp-validation-for="DeliveryCountry" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryPhone" class="form-control" placeholder="Contact Phone" />
                            <span asp-validation-for="DeliveryPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliveryContact" class="form-control" placeholder="Contact Person" />
                            <span asp-validation-for="DeliveryContact" class="text-danger"></span>
                        </div>
                    </div>*@
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-md-10">
                <h3>Driver package and drive information  </h3>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-horizontal">
                    
                    <div class="form-group">
                        <div class="col-md-12">

                            <input asp-for="MaxPackage" class="form-control" placeholder="Maximum package to pickup" />
                            <span asp-validation-for="MaxPackage" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="PickupRadius" class="form-control" placeholder="Maximum drive package radius" />
                            <span asp-validation-for="PickupRadius" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="DeliverRadius" class="form-control" placeholder="Maximum drive deliver package radius" />
                            <span asp-validation-for="DeliverRadius" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.TransportTypeId, Model.TransportTypeList, "-- Select transport type  --", new { @class = "form-control" })
                            <span asp-validation-for="TransportTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="VehicleMake" class="form-control" placeholder="Vehicle Make" />
                            <span asp-validation-for="VehicleMake" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="VehicleModel" class="form-control" placeholder="Vehicle Model" />
                            <span asp-validation-for="VehicleModel" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="VehicleColor" class="form-control" placeholder="Vehicle Color" />
                            <span asp-validation-for="VehicleColor" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="VehicleYear" class="form-control" placeholder="Vehicle Year" />
                            <span asp-validation-for="VehicleYear" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-5">

                <h3>Profile photo </h3>
                <hr />
                <div class="image-placeholder">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type='file' id="my-file-selector-Personal" name="personalfiles" />
                                <img id="Personal-image" src="~/images/DefaultProfileImage.png" class="img-thumbnail img-responsive" width="150" height="150" />
                                <span asp-validation-for="Personalfiles" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
     

           


            <div class="col-md-5">

                <h3>Driver license  photo</h3>
                <hr />
                <div class="image-placeholder">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type='file' id="my-file-selector-license" name="licensefiles" />
                                <img id="license-image" src="~/images/DefaultProfileImage.png" class="img-thumbnail img-responsive" width="150" height="150" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-5">

                <h3>Vehicle photo</h3>
                <hr />
                <div class="image-placeholder">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type='file' id="my-file-selector-Vehicle" name="Vehiclefiles" />
                                <img id="Vehicle-image" src="~/images/DefaultProfileImage.png" class="img-thumbnail img-responsive" width="150" height="150" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-md-5">

                <h3>Proof of insurance</h3>
                <hr />
                <div class="image-placeholder">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input type='file' id="my-file-selector-insurance" name="insurancefiles" />
                                <img id="insurance-image" src="~/images/DefaultProfileImage.png" class="img-thumbnail img-responsive" width="150" height="150" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div class="row">
           
            <div class="col-md-5">
                <div class="form-horizontal">

                    <h3>
                        Login information
                    </h3>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="UserEmail" class="form-control" placeholder="User Email" />
                            <span asp-validation-for="UserEmail" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="Password"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="ConfirmPassword"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
     
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>

        function readURL4(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#insurance-image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#my-file-selector-insurance").change(function () {
            readURL4(this);
        });




        function readURL3(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#Vehicle-image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#my-file-selector-Vehicle").change(function () {
            readURL3(this);
        });



        function readURL2(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#Personal-image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#my-file-selector-Personal").change(function () {
            readURL2(this);
        });


        function readURL1(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#license-image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#my-file-selector-license").change(function () {
            readURL1(this);
        });

        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
            /** type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                { types: ['geocode'] });

            // When the user selects an address from the dropdown, populate the address
            // fields in the form.
             autocomplete.addListener('place_changed', fillInAddress);


        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            //for (var component in componentForm) {

            //    document.getElementById(component).value = '';
            //    document.getElementById(component).disabled = false;
            //}

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];

                    if (addressType == 'street_number')
                        $("#DeliveryStreet").val(place.address_components[i]['short_name']);

                    if (addressType == 'route')
                        $("#DeliveryStreet").val($("#DeliveryStreet").val() + " " + place.address_components[i]['long_name']);

                    if (addressType == 'locality')
                        $("#DeliveryCity").val(place.address_components[i]['long_name']);

                    if (addressType == 'administrative_area_level_1')
                        $("#DeliveryState").val(place.address_components[i]['short_name']);

                    if (addressType == 'country')
                        $("#DeliveryCountry").val(place.address_components[i]['long_name']);

                    if (addressType == 'postal_code')
                        $("#DeliveryZipCode").val(place.address_components[i]['short_name']);

                    //document.getElementById(addressType).value = '';
                    //document.getElementById(addressType).disabled = false;
                    //document.getElementById(addressType).value = val;
                }
            }
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwSXLEryUNhIeBBzRN1qxNrqs7Tq15P6o&libraries=places&callback=initAutocomplete"
        async defer></script>
}
