@model String
@{
    ViewData["Title"] = "Results";
}

<section class="login-page registration verification pt-220">
    <div class="container">
        <div class="headline width-40">
            <h3>Driver Account has Been Created</h3>
            <p>Login Email Address : @Model</p>

            <p>
                Thank you for signup as driver for driveDrop.
            </p>
            <p>
                But before we get started, we'll need to verifiy your email!

            </p>
            <p>
                You will shortly receive an email with details on how to verify you email.

            </p>
        </div>
       
    </div>
</section>
 