@model  DriveDrop.Web.ViewModels.CurrentCustomerModel

    @{
        ViewData["Title"] = "Details";
    }
<div class="side-2">


    @await Html.PartialAsync("DriverNavigation", Model.Id)


</div>
<div class="center-2">
    <div class="page account-page customer-info-page">
        <div class="page-title">
            <h1>My Personal info</h1>
        </div>

        <div class="page-body">
            <form data-ajax-method="POST" asp-action="UpdateInfo" enctype="multipart/form-data"
                  data-ajax="true" data-ajax-mode="replace" data-ajax-update="#bar-notification">

                @Html.AntiForgeryToken()


                <input asp-for="Id" hidden />
                <input asp-for="CustomerStatusId" hidden />
                <input asp-for="CustomerStatus" hidden />
                <input asp-for="PersonalPhotoUri" hidden />

                <div class="fieldset">

                    <div class="title">
                        <strong>Your Personal Details</strong>
                    </div>



                    <div asp-validation-summary="ModelOnly" class="result"></div>





                    <div class="form-fields">
                        <div class="inputs">
                            <label for="CustomerStatus">Status</label>
                            <div class="gender">
                                <span>

                                    <label class="male">@Model.CustomerStatus</label>
                                </span>
                            </div>
                        </div>
                        <div class="inputs">
                            <label for="FirstName">First name</label>

                            <input asp-for="FirstName" placeholder="First name" />
                            <span class="required">*</span>

                            <span asp-validation-for="FirstName" class="text-danger"></span>


                        </div>
                        <div class="inputs">
                            <label for="LastName">Last name</label>
                            <input asp-for="LastName" placeholder="Last name" />
                            <span class="required">*</span>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="inputs">
                            <label for="Email">Email</label>
                            <input asp-for="Email" placeholder="Email" />
                            <span class="required">*</span>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="inputs">

                            <label for="PrimaryPhone">Primary Phone</label>
                            <input asp-for="PrimaryPhone" placeholder="Phone" />
                            <span class="required">*</span>
                            <span asp-validation-for="PrimaryPhone" class="text-danger"></span>
                        </div>
                        <div class="inputs">

                            <label for="Phone">Phone</label>
                            <input asp-for="Phone" placeholder="Phone" />
                            <span class="required">*</span>
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="inputs">

                            <label for="VerificationId">Verification Id</label>
                            <input asp-for="VerificationId" placeholder="Verification Id" />
                            <span class="required">*</span>
                            <span asp-validation-for="VerificationId" class="text-danger"></span>
                        </div>
                                <div class="inputs">
                                    <div class="title">
                                        <strong>Profile photo </strong>
                                    </div>
                                    <div class="avatar-page">

                                        <input type='file' id="my-file-selector-Personal" name="PersonalPhotoUri" />
                                        <img id="Personal-image" src="@Model.PersonalPhotoUri" class="img-thumbnail img-responsive" width="150" height="150" />


                                    </div>

                                </div>
                            

                        
                        <div class="buttons">
                            <input type="submit" value="Save" name="save-info-button" class="button-1 save-customer-info-button" />

                        </div>
                        <div class="center-block bg-primary text-center" id="bar-notification">

                        </div>
                    </div>

                </div>

            </form>

        </div>


    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

    $(function () {
        $('form').submit(function () {
            var data = new FormData();
            i = 0;

            $(".file-select").each(function () { data.append($(this).val(), $(this).get(0).files[0]); i++; })

            var postData = $('#fields :input');

            $.each(postData, function (key, input) {
                alert(input.name);
                alert(input.value);
                data.append(input.name, input.value);
            });



            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $('#bar-notification').html(result);
                        alert(result);
                    },
                    error: function (response) {
                        alert("Error:" + response);
                    }
                });
            }
            return false;
        });
    });



    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#photoUrl").change(function () {
        readURL(this);
    });

    function readURL4(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#insurance-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my-file-selector-insurance").change(function () {
        readURL4(this);
    });




    function readURL3(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Vehicle-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my-file-selector-Vehicle").change(function () {
        readURL3(this);
    });



    function readURL2(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#Personal-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my-file-selector-Personal").change(function () {
        readURL2(this);
    });


    function readURL1(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#license-image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#my-file-selector-license").change(function () {
        readURL1(this);
    });


    var theDiv = document.getElementById("newShipmentTr");
    var button = document.getElementById("button");

    function removeRed() {

        var classContent = theDiv.className;

        theDiv.className = classContent.replace("sr-only", "").trim();
    }

    //button.addEventListener("click", removeRed, false);

    jQuery('#PickupZipCode').on('input propertychange paste', function () {
        UpdateRate()
    });
    jQuery('#DeliveryZipCode').on('input propertychange paste', function () {
        UpdateRate()
    });
    jQuery('#Quantity').on('input propertychange paste', function () {
        UpdateRate()
    });
    jQuery('#Amount').on('input propertychange paste', function () {
        UpdateRate()
    });

    $("#TransportTypeId").change(function () {
        UpdateRate()
    });

    $("#PriorityTypeId").change(function () {
        UpdateRate()
    });

    $("#PromoCode").change(function () {
        UpdateRate()
    });

    function UpdateRate() {


        // var myLength = $("#PickupZipCode").val().length;
        var delLength = $("#DeliveryZipCode").val().length;
        var delZip = $("#DeliveryZipCode").val();
        if (delLength < 5)
            return;

        var pickupLength = $("#PickupZipCode").val().length;
        var pickupZip = $("#PickupZipCode").val();
        if (pickupLength < 5)
            return;



        var weight = $("#Weight").val();
        var quantity = $("#Quantity").val();
        var amount = $("#Amount").val();
        var transportTypeId = $("#TransportTypeId").val();
        if (transportTypeId == 'Prority')
            return;
        var priorityTypeId = $("#PriorityTypeId").val();
        if (priorityTypeId == 'Transport Type')
            return;


        var promoCode = $("#PromoCode").val();

        if (quantity != '' && amount != '' && transportTypeId != '' && priorityTypeId != '') {
            alert("weight " + weight + "quantity:" + quantity + "amount:" + amount + "transportTypeId:" + transportTypeId + "priorityTypeId:" + priorityTypeId);

            $.ajax({
                url: '@Url.Action("CalculateAmount","rates")', // to get the right path to controller from TableRoutes of Asp.Net MVC
                dataType: "json", //to work with json format
                type: "POST", //to do a post request

                //  contentType: 'application/json; charset=utf-8', //define a contentType of your request
                cache: false, //avoid caching results
                data: { zipFrom: pickupZip, zipTo: delZip, weight: weight, qty: quantity, priority: priorityTypeId, transportTypeId: transportTypeId, promoCode: promoCode }, // here you can pass arguments to your request if you need
                success: function (data) {
                    // data is your result from controller
                    if (data) {

                        $("#subtotal").text(data.strSubTotal);
                        $("#TaxDiscount").text(data.strDiscount);
                        $("#totalTax").text(data.strTaxAmount);
                        $("#total").text(data.strAmountToCharge);

                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                    //alert(xhr.status);
                    //alert(thrownError);

                }
            });
        }
    }





</script>
        }
