
<div class="alert alert-info">
    <div><strong>Info!</strong> You Got Packages!</div>

    <div id="DriverNotificationWS"></div> 
</div>

<input type="text" style="max-width:unset;width:100%;max-width:100%" id="MessageField" placeholder="type message and press enter" />
 
