@{
    ViewData["Title"] = "Log in";

    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
 
    <div class="container">
      
        <div class="driver-form">
            <a class="license-btn" href="#">REGISTER AS </a>
            <a href="/Driver/NewDriver/NewDriver" class="forget"> <h2 class="blue-head">SENDER</h2></a>
            <a href="/Sender/NewSender" class="forget"> <h2 class="blue-head">DRIVER</h2></a>

        </div>







    </div>
 