@{
    ViewData["Title"] = "Confirm Email";
}
 




<section class="login-page registration verification pt-220">
    <div class="container">
        <div class="headline width-40">
            <h3>Confirm Email</h3>
            <P>   Thank you for confirming your email. Please <a href="@ViewData["ReturnHomeUrl"]" class="button-1 register-button">Click here to Log in</a></P>
        </div>
       

    </div>
</section> 