
<div class="jumbotron">

    <h1>Sender Dashboard</h1>
</div>
<div class="container">

    <div class="col-md-4">
        <h2>Add new SENDER</h2>
        <p>
            Impersonate an admin user .
        </p>
        <p><a class="btn btn-default" href="/sender/new">Test &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test as SENDER</h2>
        <p>impersonate a sender user</p>
        <p><a class="btn btn-default" href="/sender/result/1">Test SENDER 1 &raquo;</a></p>
        <p><a class="btn btn-default" href="/sender/result/2">Test SENDER 2 &raquo;</a></p>
        <p><a class="btn btn-default" href="/sender/result/3">Test  SENDER 3&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Test as a SENDER</h2>
        <p>Impersonate a driver user.</p>
        <p><a class="btn btn-default" href="/customer/admin">Test &raquo;</a></p>
    </div>
</div>