@model String
@{
    ViewData["Title"] = "Results";
}


<div class="page home-page">
    <div class="page-title">
        <h1>Account Have Been Created </h1>
    </div>

    <div class="page-body">


        <h3>UserName : @Model</h3>
        <div class="fieldset">
        </div>
        <div class="fieldset">
            <p>
                Thank you for Signup as Sender for DriveDrop.
            </p>
            <p>
                But before we get started, we'll need to verifiy your email!

            </p>
            <p>
                You will shortly receive an email with details how to verify you email.

            </p>

            @*<div class="fieldset">
                    <div class="buttons">
                        <a href="/account/signin" class="button-1 save-customer-info-button">Login to Your Account</a>

                    </div>
                </div>*@
        </div>
    </div>
</div>
