@model DriveDrop.Web.ViewModels.NewShipment

@{
    ViewData["Title"] = "Create";
}

 
 <form asp-controller="Sender" asp-action="SaveNewShipment" data-ajax="true"  role="form" data-ajax-method="POST" enctype="multipart/form-data">


     <input asp-for="CustomerId" hidden  />


     <div class="row">


         <div class="col-md-5">

             <div asp-validation-summary="ModelOnly" class="text-danger"></div>   .
         </div>
     </div>
          
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
