@using DriveDrop.Bl.ViewModels;
@model  DriveDrop.Bl.ViewModels.UserStatusModel

@if (!string.IsNullOrWhiteSpace(Model.Status) || !string.IsNullOrWhiteSpace(Model.Impersonated) || (!string.IsNullOrWhiteSpace(Model.CustomerType) && Model.CustomerType.ToLower() == "driver"))
{
 
     @*   <div id="content" class="col-sm-9">
    <div id="gig-information" class="sender-form">*@



                @if (!string.IsNullOrWhiteSpace(Model.Status))
                {
                     <!-- The Modal -->
                    <div id="myModalStatus" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="alert alert-danger">
                                <label>   User Status: <strong>@Model.Status</strong> </label><br />
                                <label>   <strong>Your Access to DriveDrop is limited</strong> </label><br />
                                <label>   <strong>Please contact customer service </strong> </label>
                            </div>
                        </div>

                    </div>

                    <script>
                        // Get the modal
                        var modal = document.getElementById('myModalStatus');

                        // Get the button that opens the modal
                        // var btn = document.getElementById("myBtn");

                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];

                        // When the user clicks the button, open the modal
                        //btn.onclick = function () {
                        modal.style.display = "block";
                        //}

                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function () {
                            modal.style.display = "none";
                        }

                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function (event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                    </script>

                }
                @if (!string.IsNullOrWhiteSpace(Model.Impersonated))
                {
                    <p class="alert alert-info">
                        <label>
                            Impersonated user: <strong>@Model.Impersonated</strong>
                        </label>
                    </p>
                    @Html.ActionLink("End Impersonation", "endimpersonated", "admin")
                }

                @if (!string.IsNullOrWhiteSpace(Model.CustomerType) && Model.CustomerType.ToLower() == "driver")
                {

                    @*<div id="You-Got-Packages" class="alert alert-info hidden">
                        <div><strong>Info!</strong> You Got Package !</div>

                     
                    </div>*@
                    @*<div id="DriverNotificationWS"></div>*@
                     <!-- The Modal -->
                    <div id="You-Got-Packages" class="modal hidden">

                      <!--    Modal content -->
                        <div class="modal-content">
                            <span class="closebtn">&times;</span>
                            <div class="alert alert-info">
                                <div><strong>Info!</strong> You Got Package !</div>
                            </div>
                        </div>

                    </div>

                    <script>
                        // Get the modal
                        var modal1 = document.getElementById('You-Got-Packages');

                        // Get the button that opens the modal
                        // var btn = document.getElementById("myBtn");

                        // Get the <span> element that closes the modal
                        var span1 = document.getElementsByClassName("closebtn")[0];

                        // When the user clicks the button, open the modal
                        //btn.onclick = function () {
                        modal1.style.display = "block";
                        //}

                        // When the user clicks on <span> (x), close the modal
                        span1.onclick = function () {
                            modal1.style.display = "none";
                        }

                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function (event) {
                            if (event.target == modal1) {
                                modal1.style.display = "none";
                            }
                        }
                    </script>

                }

                 
           
}
